body{
    background: linear-gradient(#9a08dd 0%, #dd4c4f 40%, #7420d3 100%);
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.ft{
    width: 240px;
    height: 220px;

}
.profile h1{
    color: white;
}
.profile h4{
    color: white;
    transform:translateY(-10px) ;
}
.Biodata{
   background : linear-gradient(#ffffff00 0%, #dd4c4f 40%, #7420d3 100%);
   padding-bottom: 200px;
}
