body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1{
    font-size: 30px;
    font-weight: bold;
}
.logo img{
    width: 38px; 
}


.nav-link{
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.btn-contact{
    padding: 15px 35px;
    background: #1453ff;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 134px;
    height: 54px;
    font-size: 18px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 90px ;
}

.hero-text{
    max-width: 550px;
}

.hero-text h1{
    font-size: 72px;
    font-weight: 717;
}

.hero-text h1 {
    color: #1463ff;
}

.hero-text p{
    margin-top: 10px;
    line-height: 1.6;
    color: #444;
    font-size: 20px;
}

.hero-button{
    margin-top: 30px;
    
}

.btn{
    padding: 12px 22px ;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.primary{
    background: #1453ff;
    color: white;
}

.secondary{
    border: 2px solid #1453ff;
    color: #1453ff;
    margin-left: 10px;
}

.sosmed{
    margin-top: 20px;
}

.hero-image img{
    width: 416px;
    height: 494px;
    border-radius: 20px;
   
}