body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f5f5f5;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1{
    font-size: 30px;
    font-weight: bold;
}
.logo img{
    width: 38px; 
    height: 38px;
}


.nav-link{
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-link a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.btn-contact{
    padding: 15px 35px;
    background: #1453ff;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    width: 134px;
    height: 54px;
    font-size: 18px;
}

.text-hero{
    font-size: 65px;
}


.hero-img {
  border-radius: 20px;
}

.btn{
    text-align: center;
  
    font-size: 20px;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  width: 247px;
  height: 68px;
}

.btn-outline-primary {
  border-width: 2px;
  width: 186px;
  height: 68px;
  
}

.profil{
  background-color: white;
  height: 100vh;
}


.box {
  width: 250px;
  padding: 50px; 
  margin: 10px; 
  background-color: rgb(209, 209, 209); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
 
}

.box img {
  width: 50px;
  margin-bottom: 10px;
}

.fasilitas h4{
    font-size: 15px;
    font-weight: bold;
}

.fasilitas p{
    font-size: 14px;
}

.profil-sb{
    background-color: white;
    height: 100vh;
}

.smn img{
    width: 500px;
    height: 350px;
}

.smn h4{
    font-size: 32px;
    width: 520px;
    height: 80px;
    font-weight: bold;
}

.smn p{
    font-size: 18px;
    width: 568px;
    height: 60px;
    margin-top: 40px;
}

.text-sambutan{
    margin-top: 50px;
}


.btn-baca{
    padding: 18px 18px;
    background: #1453ff;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    
    font-size: 14px;
}

.jurusan-card {
    background: #362FD9;
    color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    
    width: 292px;
    height: 219px;
}



/* Icon */
.jurusan-card .icon {
   
    margin-left: -170px;
    background: #ffffff;
    padding: 12px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 18px;


    
}

/* Title */
.jurusan-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 55px;
    text-align: left;
}

/* Button kecil (Details) */
.details-btn {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
    font-size: 14px;
    margin-left: -200px; 
}

#eskul{
    height: 100vh;
    background: rgb(231, 229, 229);
}

.eskul-card{
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 285px;
    height: 265px;
}

.eskul-card .icon{
    width: 54px;
    height: 54px;
    padding: 10px;
}

.eskul-card h3{
    font-size: 24px;
    width: 188px;
    height: 80px;
    text-align: left;
    margin-top: 15px;
    padding: 10px;
    line-height: 166%;
    font-weight: bold;
    
}

.eskul-card p{
    font-size: 16px;
    width: 241px;
    height: 54px;
    text-align: left;
    line-height: 166%;
    margin-left: 10px;
   
}

#berita{
    height: 170vh;
    background: rgb(231, 229, 229);
}

.berita-card{
    background: #ffffff;
    width: 287px;
    height: 332px;
    border-radius: 10px;
    margin-top: 30px;
}

.berita-card .image{
    width: 287px;
    height: 158px;
}

.berita-card p{
    font-size: 10px;
    width: 152px;
    height: 12px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.berita-card h5{
    font-size: 16px;
    font-weight: bold;
    width: 273px;
    height: 54px;
    text-align: left;
    margin-left: 10px;
    line-height: 166%;
}

.berita-card a{
    font-size: 10px;
    width: 104px;
    height: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: start;

}

.btn-berita{
    width: 212px;
    height: 62px;
    background: #362FD9;
    color: #ffffff;
    font-size: 18px;
    margin-top: 73px;
}

#documentasi{
    height: 90vh;
    background: #362FD9;
}










